<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZXkoavsNeVbi9aNGk1yWe8B9SsAa14u8</string>
	<key>GCM_SENDER_ID</key>
	<string>151541076148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skill-land.skillland</string>
	<key>PROJECT_ID</key>
	<string>skill-land-a4fed</string>
	<key>STORAGE_BUCKET</key>
	<string>skill-land-a4fed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151541076148:ios:8027bfa8db083f1a6047e1</string>
</dict>
</plist>